In [2]:
import pandas as pd
dataset=pd.read_csv(r"C:\Users\wwrao\OneDrive\Documents\email_spam.csv")

In [4]:
dataset=dataset.iloc[:,1:3]

In [5]:
dataset.head()

                                                text      type
0  Hi James,\n\nHave you claim your complimentary...      spam
1  \nalt_text\nCongratulations, you just earned\n...  not spam
2  Here's your GitHub launch code, @Mortyj420!\n ...  not spam
3  Hello,\n \nThank you for contacting the Virtua...  not spam
4  Hey Prachanda Rawal,\n\nToday's newsletter is ...      spam

In [7]:

from sklearn.feature_extraction.text import CountVectorizer

In [9]:
c=CountVectorizer(ngram_range=(2, 2))   #ngram takes value as window select 2 and 2

In [10]:
c.fit_transform(dataset["text"])

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 10263 stored elements and shape (84, 8219)>

In [12]:
data=pd.DataFrame({"text":["people watch youtube","youtube watch youtube","people write comment","youtube write the comment"]})

In [13]:
data

                        text
0       people watch youtube
1      youtube watch youtube
2       people write comment
3  youtube write the comment

In [15]:
c.fit_transform(data["text"])

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 9 stored elements and shape (4, 8)>

In [16]:
c.vocabulary_

{'people watch': 0,
 'watch youtube': 3,
 'youtube watch': 6,
 'people write': 1,
 'write comment': 4,
 'youtube write': 7,
 'write the': 5,
 'the comment': 2}

In [20]:
n_gram=c.fit_transform(data["text"]).toarray()
n_gram

array([[1, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 1, 0],
       [0, 1, 0, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0, 1, 0, 1]], dtype=int64)

In [22]:
n_gram[0]

array([1, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [23]:
data["text"][0]

'people watch youtube'

In [24]:
n_gram[1]

array([0, 0, 0, 1, 0, 0, 1, 0], dtype=int64)

In [25]:
n_gram[2]

array([0, 1, 0, 0, 1, 0, 0, 0], dtype=int64)

In [26]:
n_gram[3]

array([0, 0, 1, 0, 0, 1, 0, 1], dtype=int64)