## Lower case

In [56]:
import pandas as pd
dataset=pd.read_csv(r"C:\Users\wwrao\Documents\30 days of machine learning\naive byes\email_spam.csv")

In [57]:
dataset.head()

,title,text,type
0,?? the secrets to SUCCESS,"Hi James,\n\nHave you claim your complimentary...",spam
1,?? You Earned 500 GCLoot Points,"\nalt_text\nCongratulations, you just earned\n...",not spam
2,?? Your GitHub launch code,"Here's your GitHub launch code, @Mortyj420!\n ...",not spam
3,[The Virtual Reward Center] Re: ** Clarifications,"Hello,\n \nThank you for contacting the Virtua...",not spam
4,"10-1 MLB Expert Inside, Plus Everything You Ne...","Hey Prachanda Rawal,\n\nToday's newsletter is ...",spam

In [58]:
dataset["text"][3]

'Hello,\n \nThank you for contacting the Virtual Reward Center. We here at the Virtual Reward Center do not dictate what Rewards get sent out to recipients. Please contact your program sponsor, (the company from which you originally received your Reward) at helpdesk@cspace.com for this inquiry.\n \nWe apologize for any inconvenience.\n \n \nThank You,\n\nThe Virtual Reward Center\nCustomer Support Team Lead'

In [59]:
dataset["text"][3].lower()

'hello,\n \nthank you for contacting the virtual reward center. we here at the virtual reward center do not dictate what rewards get sent out to recipients. please contact your program sponsor, (the company from which you originally received your reward) at helpdesk@cspace.com for this inquiry.\n \nwe apologize for any inconvenience.\n \n \nthank you,\n\nthe virtual reward center\ncustomer support team lead'

In [60]:
dataset["text"].str.lower()

0     hi james,\n\nhave you claim your complimentary...
1     \nalt_text\ncongratulations, you just earned\n...
2     here's your github launch code, @mortyj420!\n ...
3     hello,\n \nthank you for contacting the virtua...
4     hey prachanda rawal,\n\ntoday's newsletter is ...
                            ...
79    dear maryam, \n\n \n\ni would like to thank yo...
80    dear customer,\n\nwelcome to kilimall, thanks ...
81    dear vladis163rus,\nhere is the steam guard co...
82    view in browser | log in\n \n \n\nskrill logo\...
83    you've received a gift!\nsign in to your bard ...
Name: text, Length: 84, dtype: object

## Remove Html Tags

In [61]:
import re

In [62]:
paragraph='''
<p><strong>Welcome to Web Development!</strong> HTML (HyperText Markup Language) is the standard language used to create web pages. It uses various <em>tags</em> to structure content. For example, you can use the <a href="https://www.w3schools.com">anchor tag</a> to create links, the <img src="image.jpg" alt="Example Image"> tag to display images, and the <ul><li>unordered list</li></ul> or <ol><li>ordered list</li></ol> tags to list items. Understanding <span style="color:blue;">HTML</span> is essential for web development!</p>


'''

In [63]:
html_text=r"<.*?>"

In [64]:

plain_text = re.sub(r"<.*?>", ">>", paragraph)  # ">>" mean subsittite with this substitute with sapce and lot of other

print((plain_text).lower())

>>>>welcome to web development!>> html (hypertext markup language) is the standard language used to create web pages. it uses various >>tags>> to structure content. for example, you can use the >>anchor tag>> to create links, the >> tag to display images, and the >>>>unordered list>>>> or >>>>ordered list>>>> tags to list items. understanding >>html>> is essential for web development!>>

In [65]:
dataset["text"] = dataset["text"].apply(lambda x: re.sub(r"<.*?>", "", x))

In [66]:
dataset["text"]

0     Hi James,\n\nHave you claim your complimentary...
1     \nalt_text\nCongratulations, you just earned\n...
2     Here's your GitHub launch code, @Mortyj420!\n ...
3     Hello,\n \nThank you for contacting the Virtua...
4     Hey Prachanda Rawal,\n\nToday's newsletter is ...
                            ...
79    Dear Maryam, \n\n \n\nI would like to thank yo...
80    Dear Customer,\n\nWelcome to Kilimall, Thanks ...
81    Dear vladis163rus,\nHere is the Steam Guard co...
82    View In Browser | Log in\n \n \n\nSkrill logo\...
83    You've received a gift!\nSign in to your Bard ...
Name: text, Length: 84, dtype: object

In [67]:
def remove_html_tegs(text):
    plain_text = re.sub(r"<.*?>", "", text)  # ">>" mean subsittite with this substitute with sapce and lot of other
    return plain_text

In [68]:
dataset["text"].apply(remove_html_tegs)

0     Hi James,\n\nHave you claim your complimentary...
1     \nalt_text\nCongratulations, you just earned\n...
2     Here's your GitHub launch code, @Mortyj420!\n ...
3     Hello,\n \nThank you for contacting the Virtua...
4     Hey Prachanda Rawal,\n\nToday's newsletter is ...
                            ...
79    Dear Maryam, \n\n \n\nI would like to thank yo...
80    Dear Customer,\n\nWelcome to Kilimall, Thanks ...
81    Dear vladis163rus,\nHere is the Steam Guard co...
82    View In Browser | Log in\n \n \n\nSkrill logo\...
83    You've received a gift!\nSign in to your Bard ...
Name: text, Length: 84, dtype: object

## Remove url

In [69]:
dataset["text"][5]

'Model Casting Call\nThank you for taking the time to register for the Anambra Fashion Expo 2023 Model Call. We are thrilled to have received your information and are excited to review your submission.\n\nOur team will be carefully reviewing all of the applications we receive over the\nnext few weeks\n\nHave you followed us on our social media handles?\n\nRemember, one of the prerequisites for qualification is to follow all our social\nmedia accounts and share all our content using the hashtag #AFE2023\n\nYou can follow us on Facebook, Instagram, and Twitter.\n\nFacebook: https://facebook.com/AnambraFashionExpo2023\nInstagram: https://instagram.com/anambrafashionexpo\nTwitter: https://twitter.com/anambrafashion\n\nIn the meantime, we encourage you to stay connected and keep an eye out for\nupdates about the event. We will be posting!\n\nNote: Create your personalized profile picture (DP) for the Model Casting of the Anambra Fashion Expo 2023\n\nYou can create your DP using the following link: https://getdp.co/afe2023\n\nBest Regards,\n\nAnambra Fashion Expo 2023 Team '

In [70]:
def remove_url(text):
    plain_text=re.sub(r'http[s]?://\S+', '', text)
    return plain_text

In [71]:
remove_url(dataset["text"][5])

'Model Casting Call\nThank you for taking the time to register for the Anambra Fashion Expo 2023 Model Call. We are thrilled to have received your information and are excited to review your submission.\n\nOur team will be carefully reviewing all of the applications we receive over the\nnext few weeks\n\nHave you followed us on our social media handles?\n\nRemember, one of the prerequisites for qualification is to follow all our social\nmedia accounts and share all our content using the hashtag #AFE2023\n\nYou can follow us on Facebook, Instagram, and Twitter.\n\nFacebook: \nInstagram: \nTwitter: \n\nIn the meantime, we encourage you to stay connected and keep an eye out for\nupdates about the event. We will be posting!\n\nNote: Create your personalized profile picture (DP) for the Model Casting of the Anambra Fashion Expo 2023\n\nYou can create your DP using the following link: \n\nBest Regards,\n\nAnambra Fashion Expo 2023 Team '

In [72]:
dataset["text"].apply(remove_url)

0     Hi James,\n\nHave you claim your complimentary...
1     \nalt_text\nCongratulations, you just earned\n...
2     Here's your GitHub launch code, @Mortyj420!\n ...
3     Hello,\n \nThank you for contacting the Virtua...
4     Hey Prachanda Rawal,\n\nToday's newsletter is ...
                            ...
79    Dear Maryam, \n\n \n\nI would like to thank yo...
80    Dear Customer,\n\nWelcome to Kilimall, Thanks ...
81    Dear vladis163rus,\nHere is the Steam Guard co...
82    View In Browser | Log in\n \n \n\nSkrill logo\...
83    You've received a gift!\nSign in to your Bard ...
Name: text, Length: 84, dtype: object

In [73]:
dataset["text"] = dataset["text"].apply(lambda x: re.sub(r'http[s]?://\S+', "", x))

In [74]:
dataset["text"][5]

'Model Casting Call\nThank you for taking the time to register for the Anambra Fashion Expo 2023 Model Call. We are thrilled to have received your information and are excited to review your submission.\n\nOur team will be carefully reviewing all of the applications we receive over the\nnext few weeks\n\nHave you followed us on our social media handles?\n\nRemember, one of the prerequisites for qualification is to follow all our social\nmedia accounts and share all our content using the hashtag #AFE2023\n\nYou can follow us on Facebook, Instagram, and Twitter.\n\nFacebook: \nInstagram: \nTwitter: \n\nIn the meantime, we encourage you to stay connected and keep an eye out for\nupdates about the event. We will be posting!\n\nNote: Create your personalized profile picture (DP) for the Model Casting of the Anambra Fashion Expo 2023\n\nYou can create your DP using the following link: \n\nBest Regards,\n\nAnambra Fashion Expo 2023 Team '

In [75]:

def remove_puctuation(text):
    
    clean_text = re.sub(r'[^\w\s]',"", text)
    return clean_text

In [76]:
dataset["text"].apply(remove_puctuation)

0     Hi James\n\nHave you claim your complimentary ...
1     \nalt_text\nCongratulations you just earned\n5...
2     Heres your GitHub launch code Mortyj420\n \nan...
3     Hello\n \nThank you for contacting the Virtual...
4     Hey Prachanda Rawal\n\nTodays newsletter is Ja...
                            ...
79    Dear Maryam \n\n \n\nI would like to thank you...
80    Dear Customer\n\nWelcome to Kilimall Thanks so...
81    Dear vladis163rus\nHere is the Steam Guard cod...
82    View In Browser  Log in\n \n \n\nSkrill logo\n...
83    Youve received a gift\nSign in to your Bard Ex...
Name: text, Length: 84, dtype: object

In [77]:
dataset["text"][1]

'\nalt_text\nCongratulations, you just earned\n500\n\n\nYou completed the following offer:\n\nView Points History\nTo stop recieving notifications when you earn points, please visit your profile and click "Preferences" to change your setting.\n\nRoom 1203, 12th Floor, Tower 3\n\nChina Hong Kong City, 33 Canton Road\n\nTsim Sha Tsui, Kowloon, Hong Kong\n\nUnsubscribe'

In [78]:
remove_puctuation(dataset["text"][1])

'\nalt_text\nCongratulations you just earned\n500\n\n\nYou completed the following offer\n\nView Points History\nTo stop recieving notifications when you earn points please visit your profile and click Preferences to change your setting\n\nRoom 1203 12th Floor Tower 3\n\nChina Hong Kong City 33 Canton Road\n\nTsim Sha Tsui Kowloon Hong Kong\n\nUnsubscribe'

**Remove punctuation for speed up the code using st.make_trans**

In [79]:
import string 
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [80]:
def remove_punc(text):
    clear_text=text.translate(str.maketrans('', '', string.punctuation))
    return clear_text

In [81]:
dataset["text"].apply(remove_punc).str.lower()

0     hi james\n\nhave you claim your complimentary ...
1     \nalttext\ncongratulations you just earned\n50...
2     heres your github launch code mortyj420\n \nan...
3     hello\n \nthank you for contacting the virtual...
4     hey prachanda rawal\n\ntodays newsletter is ja...
                            ...
79    dear maryam \n\n \n\ni would like to thank you...
80    dear customer\n\nwelcome to kilimall thanks so...
81    dear vladis163rus\nhere is the steam guard cod...
82    view in browser  log in\n \n \n\nskrill logo\n...
83    youve received a gift\nsign in to your bard ex...
Name: text, Length: 84, dtype: object

## Spelling correction

<h4>text blob  take LArge and large  time</h4>

In [27]:
from textblob import TextBlob   #using 
import pandas as pd

# Sample dataset
data = {'text': ["I am goin to scholl", "This is a beautifull day", "Ths sentnce has msspelled words"]}
df1= pd.DataFrame(data)
df1

                              text
0              I am goin to scholl
1         This is a beautifull day
2  Ths sentnce has msspelled words

In [28]:
 #Function to correct spelling
def correct_spelling(text):
        
    
    clear_text=str(TextBlob(text).correct())
    return clear_text

In [49]:
# Apply function to DataFrame
df1["text"]=df1["text"].apply(correct_spelling)
df1

                                text
0               I am going to school
1             His is a beautiful day
2  The sentence has misspelled words

In [30]:
import time 
start=time.time()
dataset["text"].apply(correct_spelling)
end=time.time()

In [32]:
end-start #sec

679.4250316619873

In [33]:
679/60      # min

11.316666666666666

In [34]:
dataset.shape

(84, 3)

## Removing stop word using nlp

In [42]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\wwrao\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [43]:
stopwords.words("english")

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [50]:
stop_words = set(stopwords.words('english'))

# Function to remove stop words
def remove_stopwords(text):
    words = text.split()
    x = [word for word in words if word.lower() not in stop_words]
    return " ".join(x)

In [51]:
df1

                                text
0               I am going to school
1             His is a beautiful day
2  The sentence has misspelled words

In [52]:
df1["text"].apply(remove_stopwords)

0                 going school
1                beautiful day
2    sentence misspelled words
Name: text, dtype: object

## Removing stop word using spacy

In [87]:
import spacy
import pandas as pd

# Load spaCy's English model
nlp = spacy.load("en_core_web_sm")



# Function to remove stopwords using spaCy
def remove_stopwords(text):
    doc = nlp(text)
    return " ".join([token.text for token in doc if not token.is_stop])

In [84]:
start=time.time()
dataset["text"].apply(remove_stopwords)
end=time.time()

In [85]:
end-start

5.877111196517944

In [86]:
dataset["text"].apply(remove_stopwords)

0     Hi James , \n\n claim complimentary gift ? \n\...
1     \n alt_text \n Congratulations , earned \n 500...
2     GitHub launch code , @Mortyj420 ! \n \n octoca...
3     Hello , \n \n Thank contacting Virtual Reward ...
4     Hey Prachanda Rawal , \n\n Today newsletter Ja...
                            ...
79    Dear Maryam , \n\n \n\n like thank application...
80    Dear Customer , \n\n Welcome Kilimall , Thanks...
81    Dear vladis163rus , \n Steam Guard code need l...
82    View Browser | Log \n \n \n\n Skrill logo \n M...
83    received gift ! \n Sign Bard Explorers India c...
Name: text, Length: 84, dtype: object

## Emoji

In [91]:
data = {'text': ["Hello 😊", "Python is awesome! 🚀🔥", "Remove 😡 emojis 🤖"]}
df2 = pd.DataFrame(data)
df2

                    text
0                Hello 😊
1  Python is awesome! 🚀🔥
2      Remove 😡 emojis 🤖

In [92]:
import re

# Emoji regex pattern
emoji_pattern = re.compile("["
    u"\U0001F600-\U0001F64F"  # Emoticons
    u"\U0001F300-\U0001F5FF"  # Symbols & pictographs
    u"\U0001F680-\U0001F6FF"  # Transport & map symbols
    u"\U0001F700-\U0001F77F"  # Alchemical symbols
    u"\U0001F780-\U0001F7FF"  # Geometric symbols
    u"\U0001F800-\U0001F8FF"  # Supplemental symbols
    u"\U0001F900-\U0001F9FF"  # Supplemental symbols and pictographs
    u"\U0001FA00-\U0001FA6F"  # Additional symbols
    u"\U0001FA70-\U0001FAFF"  # More emojis
    u"\U00002702-\U000027B0"  # Dingbats
    u"\U000024C2-\U0001F251"  # Enclosed characters
    "]+", flags=re.UNICODE)

# Function to remove emojis using regex
def remove_emojis_regex(text):
    return emoji_pattern.sub(r'', text)

# Apply function to DataFrame
df2["text"] = df2["text"].apply(remove_emojis_regex)

In [93]:
df2

                  text
0               Hello
1  Python is awesome!
2      Remove  emojis